---
const pageTitle = "About Me";
const identity = {
    firstName:
    "Matthew",
    country: "England",
    occupation: "Student",
    hobbies: "Video Gaming, Badminton and Coding"
};
const skills = ["Python", "JavaScript", "Astro", "C++"]
const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">AboutMB</a>
        <a href="/blog">Blog</a>
        <a href="/Pixel&PlayCo">Pixel & Play Co.</a>
		<h1>{pageTitle}</h1>
        <h2>...and the Website!</h2>

        <ul>
            <li>My name is {identity.firstName}, I'm from {identity.country} and I'm a {identity.occupation}.</li>
            <li>My hobbies include {identity.hobbies}.</li>
            <li>I have experience with the following skills: {skills[0]}, {skills[1]}, {skills[2]} and {skills[3]}.</li>
            <li> {happy &&  <p>I'm happy to be using Astro!</p>} </li>
            <li> {finished === true ? <p>I'm finished!</p> : <p>I'm not finished yet.</p>} </li>
            <li> {goal === 3 ? <p>My goal is to finish before my Work Experience ends.</p> : <p> My goal isn't to finish but to do as much as I can.</p>}</li>
        </ul>

        <p>I'm currently at Waterstons on Work Experience, and I've met some really nice people!</p>
        <p>Currently, I'm updating the website live, so keep having a look when you get a chance...</p>

        <p></p>
	</body>
</html>
