---
import {Image} from 'astro:assets';
import Header from '../components/Header.astro';
import '../Styles/global.css';
import Banner from '../images/pixel_and_play_banner.svg';
const {pageTitle} = Astro.props
---
<style>
            h1 {
                color: purple;
                font-size: 4rem;
      }
		p {
		color: black;
		font-size: 1.5rem;
	}
		h2 {
		color: red;
		font-size:2.5rem;
	}
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Image src={Banner} alt="The Company Banner" width={750} height={250} />
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>